<div class="linktone-container">
    <div class="linktone-main-panel">
        <div class="linktone-header">
            <div class="tabs-container">
                <ul #headerTabs>
                    <li *ngFor="let tab of linktoneTabs; let i = index" [ngClass]="selectedTab === i ? 'selected' : ''"
                        (click)="selectTab(i)">{{tab}}</li>
                </ul>
                <div #tabsLine class="tabs-line"></div>
            </div>
        </div>
        <div #linktoneBody class="linktone-body">
            <div class="main-screen">
                <img src="{{releaseData.graphics.og}}" alt="og" />
            </div>
            <div class="lyrics-screen">
                <div class="lyrics-list-container">
                    <div *ngFor="let song of releaseData.lyrics; let i = index" id="{{song.name}}"
                        class="lyrics-list-item" [ngClass]="lyricsExpandState[i] ? 'expanded' : ''">
                        <div class="lyrics-list-item-header" (click)="toggleExpandLyrics(i)">
                            <div class="lyrics-item-index">{{i+1}}.</div>
                            <div class="lyrics-item-name">{{song.name}}</div>
                            <div class="lyrics-item-expand" [ngClass]="lyricsExpandState[i] ? 'expanded' : ''">
                                <i class="icon-chevron-thin-down"></i>
                            </div>
                        </div>
                        <div class="lyrics-item-lyrics-container" [ngClass]="lyricsExpandState[i] ? 'expanded' : ''">
                            <div class="lyrics-content">{{song.lyrics}}</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="credits-screen">
                <div class="credits-container">{{releaseData.credits}}</div>
            </div>
            <div class="gallery-screen">
                GALLERY
            </div>
            <div class="press-screen">
                PRESS
            </div>
            <div class="press-kit-screen">
                PRESS KIT
            </div>
            <div class="download-screen">
                DOWNLOAD
            </div>
        </div>
        <div class="linktone-footer">
            <div class="platforms-buttons-container">
                <div *ngFor="let name of socials" class="platform-button">
                    <a id="{{name}}" href="{{platformsService.platforms[name].artistPage}}" target="_blank"
                        rel="noopener">
                        <img src="{{platformsService.platforms[name].icons.small}}"
                            alt="{{platformsService.platforms[name].icons.alt}}" height="32" width="32" />
                    </a>
                </div>
                <div *ngFor="let name of moreMusic" class="platform-button">
                    <a id="{{name}} (Artist Page)" href="{{platformsService.platforms[name].artistPage}}"
                        target="_blank" rel="noopener">
                        <img src="{{platformsService.platforms[name].icons.small}}"
                            alt="{{platformsService.platforms[name].icons.alt}}"
                            height="{{platformsService.platforms[name].icons.size ? platformsService.platforms[name].icons.size.height : 32}}"
                            width="{{platformsService.platforms[name].icons.size ? platformsService.platforms[name].icons.size.width : 32}}" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="linktone-side-panel">
        <div class="side-menu-actions">
            <div class="linktone-share"><i class="icon-share2"></i></div>
        </div>
        <div class="side-menu-release-type-container">
            <div class="release-type">{{releaseData.meta.type}}</div>
        </div>
        <div class="side-menu-avatar-container">
            <div class="linktone-avatar" [ngStyle]="{'background-image': 'url(' + releaseData.graphics.avatar + ')'}">
            </div>
        </div>
        <div class="side-menu-release-titles">
            <h2 class="artist-name-title">Yam Bakshi | ים בקשי</h2>
            <h1 class="release-name-title">{{releaseData.meta.name}}</h1>
        </div>
        <div class="side-menu-player">
            PLAYER
        </div>
        <div class="side-menu-songs-list-container">
            <div class="songs-list">
                <div *ngFor="let song of releaseData.lyrics; let i = index" id="{{song.name}}" class="songs-list-item"
                    [ngClass]="selectedSong === i ? 'selected' : ''" (click)="selectSong(i)">
                    <div class="song-item-index">{{i+1}}.</div>
                    <div class="song-item-name">{{song.name}}</div>
                    <div class="song-item-download"><i class="icon-download3"></i></div>
                </div>
            </div>
        </div>
        <div class="side-menu-lyrics-container">
            <div class="song-lyrics-container">
                <div class="song-lyrics">
                    {{releaseData.lyrics[selectedSong].lyrics}}
                </div>
            </div>
            <div class="song-lyrics-fades">
                <div class="lyrics-top-fade"></div>
                <div class="lyrics-bottom-fade"></div>
            </div>
        </div>
    </div>
</div>