.linktone-container {
    position: relative;
    height: 100%;
    display: flex;
    color: white;

    & > .linktone-main-panel {
        display: flex;
        flex-direction: column;
        width: 100%;

        & > .linktone-header {
            display: flex;
            min-height: 70px;
            width: 100%;
            justify-content: center;
            background-color: rgba(0, 0, 0, .4);

            & > .tabs-container {
                display: flex;
                overflow: auto;
                position: relative;

                & > ul {
                    display: flex;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
    
                    & > li {
                        font-weight: 900;
                        font-size: 18px;
                        user-select: none;
                        display: inline;
                        padding: 25px 30px;
                        color: rgba(255, 255, 255, .7);
                        white-space: nowrap;
                        cursor: pointer;
    
                        &.selected {
                            color: rgba(255, 255, 255, 1);
                        }
    
                        &:hover {
                            color: rgba(255, 255, 255, 1);
                        }
                    }
                }
    
                & > .tabs-line {
                    height: 2px;
                    position: absolute;
                    bottom: 0;
                    margin: 10px 0 0 0;
                    background-color: #FF1847;
                    transition: all 0.4s ease;
                }
            }
        }
    
        & > .linktone-body {
            display: flex;
            background-color: transparent;
            flex: 1;
            width: 100%;
            overflow: auto;

            & > div {
                display: none;
            }

            & > .main-screen {
                justify-content: center;
                align-items: center;
                width: 100%;

                & > img {
                    width: 100%;
                }
            }

            & > .lyrics-screen {
                width: 100%;
                justify-content: center;
                overflow: auto;

                & > .lyrics-list-container {
                    font-size: 24px;
                    width: 100%;

                    & > .lyrics-list-item {
                        display: flex;
                        flex-direction: column;
                        color: rgba(255, 255, 255, .7);
                        min-width: 375px;

                        &.expanded {
                            color: rgba(255, 255, 255, 1);
                        }

                        &:hover {
                            color: rgba(255, 255, 255, 1);
                        }

                        & > .lyrics-list-item-header {
                            display: flex;
                            cursor: pointer;
                            position: relative;
                            padding: 15px 10px;
                            justify-content: space-between;

                            &:before {
                                content: "";
                                position: absolute;
                                top: 0px;
                                left: 50%;
                                -webkit-transform: translateX(-50%);
                                transform: translateX(-50%);
                                width: 100%;
                                height: 1px;
                                background-color: rgba(255, 255, 255, .7);
                            }
                
                            &:after {
                                content: "";
                                position: absolute;
                                bottom: -1px;
                                left: 50%;
                                -webkit-transform: translateX(-50%);
                                transform: translateX(-50%);
                                width: 100%;
                                height: 1px;
                                background-color: rgba(255, 255, 255, .7);
                            }

                            & > .lyrics-item-index {
                                margin-right: 10px;
                            }
    
                            & > .lyrics-item-expand {
                                font-size: 40;
                                font-weight: 900;
                                transform: rotate(0deg);
                                transition: transform 0.30s;
    
                                &.expanded {
                                    transform: rotate(180deg);
                                    transition: transform 0.30s;
                                }
                            }
                        }

                        & > .lyrics-item-lyrics-container {
                            max-height: 0;
                            transition: max-height 0.40s;
                            overflow: hidden;
                            position: relative;

                            &:before {
                                content: "";
                                position: absolute;
                                top: 0px;
                                left: 50%;
                                -webkit-transform: translateX(-50%);
                                transform: translateX(-50%);
                                width: 100%;
                                height: 1px;
                                background-color: rgba(255, 255, 255, .7);
                            }

                            &:after {
                                content: "";
                                position: absolute;
                                bottom: 0px;
                                left: 50%;
                                -webkit-transform: translateX(-50%);
                                transform: translateX(-50%);
                                width: 100%;
                                height: 1px;
                                background-color: rgba(255, 255, 255, .7);
                            }

                            &.expanded {
                                max-height: 10000px;
                                transition: max-height 1s;
                            }

                            & > .lyrics-content {
                                white-space: pre;
                                font-size: 20px;
                                color: white;
                                text-align: center;
                                padding: 15px 0px;
                                background-color: rgba(0, 0, 0, 0.6);
                            }
                        }
                    }
                }
            }

            & > .credits-screen {
                justify-content: center;
                width: 100%;
                align-items: center;

                & > .credits-container {
                    white-space: pre;
                    font-size: 24px;
                    color: white;
                    text-align: center;
                }
            }

            & > .gallery-screen {
                position: relative;
                width: 100%;
                height: 100%;
            }
        }
    
        & > .linktone-footer {
            display: flex;
            align-items: center;
            flex: 1;
            background-color: rgba(255, 255, 255, .6);
            height: 50px;
            max-height: 50px;
            overflow: auto;

            & > .platforms-buttons-container {
                display: flex;
                padding: 0px 10px;

                & > .platform-button {
                    margin-right: 20px;
    
                    &:last-of-type {
                        margin-right: 0px;
                    }
    
                    & > a {
                        display: flex;
                    }
                }
            }            
        }
    }
    
    & > .linktone-side-panel {
        display: flex;
        min-width: 420px;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        padding: 0 15px;
        flex-direction: column;

        & > .side-menu-actions {
            display: flex;
            margin-top: 10px;

            & > .linktone-share {
                cursor: pointer;
            }
        }

        & > .side-menu-release-type-container {
            position: fixed;
            right: 0px;
            top: 0px;

            & > .release-type {
                position: absolute;
                right: -65px;
                top: -65px;
                background: rgba(114,136,175,0.5);
                color: #fff;
                transform: rotate(45deg);
                z-index: 99;
                display: block;
                width: 130px;
                height: 130px;
                text-align: center;
                line-height: 230px;
            }
        }

        & > .side-menu-avatar-container {
            width: 100%;
            display: flex;
            justify-content: center;
            margin-top: 25px;

            & > .linktone-avatar {
                border-radius: 50%;
                width: 100px;
                height: 100px;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;
            }
        }

        & > .side-menu-release-titles {
            display: flex;
            flex-direction: column;
            text-align: center;
            margin-top: 20px;


            & > .artist-name-title {
                font-weight: bold;
                font-size: 38px;
                margin: 0px;
            }
            
            & > .release-name-title {
                font-weight: lighter;
                font-size: 27px;
                margin: 0px;
            }    
        }

        & > .side-menu-player {
            display: flex;
            height: 50px;
            width: 100%;
            position: relative;
            margin-top: 25px;

            &:before {
                content: "";
                position: absolute;
                top: -5px;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                width: 100%;
                height: 1px;
                background-color: rgba(255, 255, 255, .7);
            }

            &:after {
                content: "";
                position: absolute;
                bottom: -5px;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                width: 100%;
                height: 1px;
                background-color: rgba(255, 255, 255, .7);
            }
        }

        & > .side-menu-songs-list-container {
            position: relative;
            margin: 25px 0px;
            font-size: 20px;

            & > .songs-list {
                max-height: 110px;
                overflow: auto;
                
                & > .songs-list-item {
                    display: inline-flex;
                    width: 100%;
                    margin-bottom: 6px;
                    color: rgba(255, 255, 255, .7);
                    user-select: none;
                    cursor: pointer;

                    &.selected {
                        color: rgba(255, 255, 255, 1);
                    }
                
                    &:hover {
                        color: rgba(255, 255, 255, 1);
                    }

                    & > .song-item-index {
                        margin-right: 10px;
                    }
                    
                    & > .song-item-name {
                        flex: 1;
                    }

                    &:last-of-type {
                        margin-bottom: 0px;
                    }
                }
            }

            &:after {
                content: "";
                position: absolute;
                bottom: -24px;
                left: 50%;
                -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
                width: 100%;
                height: 1px;
                background-color: rgba(255, 255, 255, .7);
            }
        }

        & > .side-menu-lyrics-container {
            width: 100%;
            height: 100%;
            position: relative;
            overflow: hidden;
            
            & > .song-lyrics-container {
                overflow: auto;
                width: 100%;
                height: 100%;

                & > .song-lyrics {
                    position: relative;
                    white-space: pre;
                    font-size: 18px;
                    color: white;
                    text-align: center;
                    padding: 30px 0px;
                }
            }

            & > .song-lyrics-fades {
                & > .lyrics-top-fade {
                    position: absolute;
                    height: 40px;
                    width: 100%;
                    top: 0px;
                    background-image: linear-gradient(to top, rgba(0,0,0,0), rgba(0,0,0,.5));
                }

                & > .lyrics-bottom-fade {
                    position: absolute;
                    height: 40px;
                    width: 100%;
                    bottom: 0px;
                    background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,.5));
                }
            }
        }
    }
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}