@import "../../../../scss/global/index.scss";

@include media("screen", ">mobile") {
    .gallery-container {
        flex-direction: row;

        & > .gallery-images-container {
            flex-direction: row;
            align-items: center;

            & > .gallery-image-container {
                & > img {
                    max-height: 800px;
                }
            }
        }
    }
}