.gallery-container {
    position: absolute;
    width: 100%;
    height: 100%;

    & > .gallery-images-container {
        display: flex;
        height: 100%;
        width: 100%;

        & > .gallery-image-container {
            display: flex;
        }
    }
}