<div class="gallery-container">
    <div class="arrows-container">
        <div class="prevImage"><i class="icon-chevron-left" (click)="prevImage()"></i></div>
        <div class="nextImage"><i class="icon-chevron-right" (click)="nextImage()"></i></div>
    </div>
    <div #galleryImagesContainer class="gallery-images-container">
        <div *ngFor="let imageUrl of images; let i = index" class="gallery-image-container"
            [ngClass]="selectedImage === i ? 'selected' : ''">
            <img src="{{imageUrl}}" alt="gallery-image-{{i}}" (load)="onImageLoad()" />
        </div>
    </div>
</div>