@import "../../../../../scss/global/index.scss";

@include media("screen", ">mobile") {
    .gallery-container {
        flex-direction: row;
        overflow: hidden;

        & > .gallery-images-container {
            position: absolute;
            flex-direction: row;
            align-items: center;
            transition: transform 0.50s;
            left: 50%;

            & > .gallery-image-container {
                margin-right: 100px;

                &.selected {
                    & > img {
                        max-height: 800px;
                        transition: max-height 0.50s;
                    }
                }

                & > img {
                    max-height: 400px;
                    transition: max-height 0.50s;
                }
            }
        }
    }
}