<div class="pre-save-container" [ngStyle]="{'background': 'black url(' + backgroundImg + ') no-repeat fixed center'}">
    <div class="pre-save-main-section">
        <div class="iframe-container">
            <iframe frameborder="0" width="320px" height="610px"
                style="overflow:hidden; border-radius: 8px; box-shadow: 0 0 28px 0 rgba(0,0,0,.8);" scrolling="no"
                allowtransparency="true" src="https://snd.click/nq9qQT0?embed=1"></iframe>
        </div>
        <app-smartlink-footer></app-smartlink-footer>
    </div>
</div>