<div class="press-kit-container">
    <div class="press-kit">
        <div class="press-kit-download-container">
            <div class="press-kit-download-label">Download Full Kit</div>
            <div class="press-kit-download-icon" (click)="downloadFile('Press Kit', 'RAR')"><i class="icon-download3"></i></div>
        </div>
        <div class="press-kit-download-container">
            <div class="press-kit-download-label">Lyrics</div>
            <div class="press-kit-download-icon" (click)="downloadFile('Lyrics', 'Microsoft Word')"><i class="icon-download3"></i></div>
        </div>
        <div class="press-kit-download-container">
            <div class="press-kit-download-label">Credits</div>
            <div class="press-kit-download-icon" (click)="downloadFile('Credits', 'Microsoft Word')"><i class="icon-download3"></i></div>
        </div>
        <div class="press-kit-download-container">
            <div class="press-kit-download-label">Gallery</div>
            <div class="press-kit-download-icon" (click)="downloadGallery()"><i class="icon-download3"></i></div>            
        </div>
        <div class="press-kit-download-container">
            <div class="press-kit-download-label">Press Release</div>
            <div class="press-kit-download-icon" (click)="downloadFile('Press Release - PDF', 'PDF')">PDF <i class="icon-download3"></i></div>
            <div class="press-kit-download-icon" (click)="downloadFile('Press Release', 'Microsoft Word')">WORD <i class="icon-download3"></i></div>
        </div>
    </div>
</div>