.linktone-container {
    position: relative;
    height: 100%;
    display: flex;
    color: white;

    > .linktone-main-panel {
        display: flex;
        flex-direction: column;
        width: 100%;

        > .linktone-header {
            display: flex;
            min-height: 70px;
            width: 100%;
            justify-content: center;
            background-color: rgba(0, 0, 0, .4);

            > .tabs-container {
                display: flex;
                overflow: auto;
                position: relative;

                > ul {
                    display: flex;
                    list-style-type: none;
                    margin: 0;
                    padding: 0;
    
                    > li {
                        font-weight: 900;
                        font-size: 18px;
                        user-select: none;
                        display: inline;
                        padding: 25px 30px;
                        color: rgba(255, 255, 255, .7);
                        white-space: nowrap;
                        cursor: pointer;
    
                        &.selected {
                            color: rgba(255, 255, 255, 1);
                        }
    
                        &:hover {
                            color: rgba(255, 255, 255, 1);
                        }
                    }
                }
    
                > .tabs-line {
                    height: 2px;
                    position: absolute;
                    bottom: 0;
                    margin: 10px 0 0 0;
                    background-color: #FF1847;
                    transition: all 0.4s ease;
                }
            }
        }
    
        > .linktone-body {
            display: flex;
            background-color: transparent;
            flex: 1;
            width: 100%;
            overflow: auto;

            > div {
                display: none;
            }

            > .main-screen-container {
                justify-content: center;
                align-items: center;
                width: 100%;

                > img {
                    user-select: none;
                    width: 100%;
                }
            }

            > .lyrics-screen-container {
                width: 100%;
                justify-content: center;

                > .lyrics-screen {
                    width: 100%;
                }
            }

            > .credits-screen-container {
                justify-content: center;
                width: 100%;
                align-items: center;

                > .credits-screen {
                    color: white;
                    background-color: rgba(255, 255, 255, .6);
                    border-radius: 20px;
                    box-shadow: 3px 3px 6px rgba(0, 0, 0, .5);
                    max-height: 92%;
                    overflow: auto;
                    
                    > .credits-container {
                        white-space: pre;
                        text-align: center;
                        color: black;
                        font-size: 20px;
                        padding: 20px;
                        background-color: transparent;
                    }
                }
            }

            > .gallery-screen-container {
                position: relative;
                width: 100%;
                height: 100%;
            }

            > .press-screen-container {
                width: 100%;
                height: 100%;
            }

            > .press-kit-screen-container {
                width: 100%;

                > .press-kit-screen {
                    width: 100%;
                }
            }

            > .download-screen-container {
                width: 100%;
                justify-content: center;

                > .download-screen {
                    width: 40%;
                }
            }
        }
    
        > .linktone-footer {
            display: flex;
            align-items: center;
            flex: 1;
            background-color: rgba(255, 255, 255, .6);
            height: 50px;
            max-height: 50px;
            overflow: auto;

            > .platforms-buttons-container {
                display: flex;
                padding: 0px 10px;

                > .platform-button {
                    margin-right: 20px;
    
                    &:last-of-type {
                        margin-right: 0px;
                    }
    
                    > a {
                        display: flex;
                    }
                }
            }            
        }
    }
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}