@import "../../../../../scss/global/index.scss";

@include media("screen", "<mobile") {
    .linktone-container {
        > .linktone-main-panel {
            > .linktone-body {
                > .credits-screen-container {
                    > .credits-screen {
                        > .credits-container {
                            font-size: 20px;
                        }
                    }
                }

                > .download-screen-container {    
                    > .download-screen {
                        width: 100%;
                    }
                }
            }
        }

        > .linktone-side-panel {
            display: none;
        }
    }
}