.pre-save-container {
    background-size: cover;
    position: absolute;
    min-height: 100%;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}

.pre-save-main-section {
    padding-top: 30px;
}

.iframe-container {
    margin-bottom: 25px;
}