<div class="smartlink-container" [ngStyle]="{'background': 'black url(' + releaseData.backgroundImg + ') no-repeat fixed center'}">
    <div class="smartlink">
        <div class="smartlink-main-section">
            <div class="artwork" [ngStyle]="{'background-image': 'url(' + releaseData.artwork + ')'}"></div>
            <div class="description">
                <div class="description-primary">{{releaseData.descriptionTitle}}</div>
                <div class="description-secondary">Choose your preferred music service</div>
            </div>
            <ul class="streaming-platforms-container">
                <li *ngFor="let name of releasePlatforms" class="streaming-platform">
                    <img src="{{platformsService.platforms[name].icons.big}}" alt="{{platformsService.platforms[name].icons.alt}}" width="120" />
                    <a href="{{releaseData.links[name]}}" target="_blank">
                        <div class="cta">{{platformsService.platforms[name].cta}}</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer">
            <div class="platforms-container">
                <div class="platforms-title">MORE MUSIC</div>
                <div class="platforms streaming">
                    <div *ngFor="let name of platformsService.moreMusic" class="platform-button">
                        <a href="{{platformsService.platforms[name].artistPage}}" target="_blank">
                            <img src="{{platformsService.platforms[name].icons.small}}" alt="{{platformsService.platforms[name].icons.alt}}"
                                height="{{platformsService.platforms[name].icons.size ? platformsService.platforms[name].icons.size.height : 32}}"
                                width="{{platformsService.platforms[name].icons.size ? platformsService.platforms[name].icons.size.width : 32}}" />
                        </a>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="platforms-title">SOCIALS</div>
                <div class="platforms socials">
                    <div *ngFor="let name of platformsService.socials" class="platform-button">
                        <a href="{{platformsService.platforms[name].artistPage}}" target="_blank">
                            <img src="{{platformsService.platforms[name].icons.small}}" alt="{{platformsService.platforms[name].icons.alt}}" height="32" width="32" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="follow-buttons">
                <div class="spotify-follow">
                    <iframe id="spotify-iframe"
                        src="https://open.spotify.com/follow/1/?uri=spotify:artist:6oz7LyT8COPHziKlASn0HP?si=uA6NEXQlQN2bPKRShHJGoQ&size=basic&theme=dark&show-count=0"
                        width="100" height="25" scrolling="no" frameborder="0" style="border:none; overflow:hidden;"
                        allowtransparency="true"></iframe>
                </div>
                <div class="youtube-subscribe">
                    <div class="g-ytsubscribe" data-channelid="UCKSj4o9QxRUbtBsb1IsIqCQ" data-layout="default"
                        data-theme="dark" data-count="default"></div>
                </div>
            </div>
            <div class="copyright">&copy; Yam Bakshi 2020</div>
        </div>
    </div>
</div>