<div class="smartlink-container" [ngStyle]="{'background': 'black url(' + releaseData.backgroundImg + ') no-repeat fixed center'}">
    <div class="smartlink">
        <div class="smartlink-main-section">
            <div class="artwork" [ngStyle]="{'background-image': 'url(' + releaseData.artwork + ')'}"></div>
            <div class="description">
                <div class="description-primary">{{releaseData.descriptionTitle}}</div>
                <div class="description-secondary">Choose your preferred music service</div>
            </div>
            <ul class="streaming-platforms-container">
                <li *ngFor="let name of releasePlatforms" class="streaming-platform">
                    <img src="{{platformsService.platforms[name].icons.big}}" alt="{{platformsService.platforms[name].icons.alt}}" width="120" />
                    <a id="{{name}} ({{platformsService.platforms[name].cta}})" href="{{releaseData.links[name]}}" target="_blank">
                        <div class="cta">{{platformsService.platforms[name].cta}}</div>
                    </a>
                </li>
            </ul>
        </div>
        <app-smartlink-footer></app-smartlink-footer>
    </div>
</div>