<div class="container">
    <div class="inner-container">
        <div class="smartlink-container">
            <div class="artwork-container"></div>
            <div class="description">
                <div class="description-primary">Stutter EP</div>
                <div class="description-secondary">Choose your preferred music service</div>
            </div>
            <ul class="streaming-platforms-container">
                <li class="streaming-platform">
                    <img src="https://res.cloudinary.com/dasokqhnv/image/upload/v1588182100/streaming-platforms/big/spotify_gtsbmd.png"
                        alt="Spotify" width="120" />
                    <a href="" target="_blank">
                        <div class="cta">Stream</div>
                    </a>
                </li>
                <li class="streaming-platform">
                    <img src="https://res.cloudinary.com/dasokqhnv/image/upload/v1588337095/streaming-platforms/big/apple-music_lhjro4.png"
                        alt="Apple Music" width="120" />
                    <a href="" target="_blank">
                        <div class="cta">Stream</div>
                    </a>
                </li>
                <li class="streaming-platform">
                    <img src="https://res.cloudinary.com/dasokqhnv/image/upload/v1589202159/streaming-platforms/big/itunes_a9zifr.png"
                        alt="iTunes Store" width="120" />
                    <a href="" target="_blank">
                        <div class="cta">Download</div>
                    </a>
                </li>
                <li class="streaming-platform">
                    <img src="https://res.cloudinary.com/dasokqhnv/image/upload/v1588182100/streaming-platforms/big/deezer_l1k1w5.png"
                        alt="Deezer" width="120" />
                    <a href="" target="_blank">
                        <div class="cta">Stream</div>
                    </a>
                </li>
                <li class="streaming-platform">
                    <img src="https://res.cloudinary.com/dasokqhnv/image/upload/v1589201516/streaming-platforms/big/youtube_bvfphs.png"
                        alt="YouTube Music" width="120" />
                    <a href="" target="_blank">
                        <div class="cta">Stream</div>
                    </a>
                </li>
                <li class="streaming-platform">
                    <img src="https://res.cloudinary.com/dasokqhnv/image/upload/v1589201606/streaming-platforms/big/amazon_music_mtns1y.png"
                        alt="Amazon  Music" width="120" />
                    <a href="" target="_blank">
                        <div class="cta">Stream</div>
                    </a>
                </li>
                <li class="streaming-platform">
                    <img src="https://res.cloudinary.com/dasokqhnv/image/upload/v1589201729/streaming-platforms/big/soundcloud_jlev55.png"
                        alt="Soundcloud" width="120" />
                    <a href="" target="_blank">
                        <div class="cta">Stream</div>
                    </a>
                </li>
                <li class="streaming-platform">
                    <img src="https://res.cloudinary.com/dasokqhnv/image/upload/v1589201840/streaming-platforms/big/bandcamp_vvtrjv.png"
                        alt="Bandcamp" width="120" />
                    <a href="" target="_blank">
                        <div class="cta">Stream</div>
                    </a>
                </li>
            </ul>
        </div>
        <div class="footer">
            <div class="plarforms-container">
                <div class="platforms-title">MORE MUSIC</div>
                <div class="platforms streaming">
                    <div class="platform-button">
                        <a href="https://open.spotify.com/artist/6oz7LyT8COPHziKlASn0HP?si=O6l70OKySc2OagtaW2x_Hg"
                            target="_blank">
                            <img src="https://res.cloudinary.com/dasokqhnv/image/upload/v1588185204/streaming-platforms/small/spotify_kmpedi.svg"
                                alt="spotify" height="32" width="32" />
                        </a>
                    </div>
                    <div class="platform-button">
                        <a href="https://music.apple.com/il/artist/yam-bakshi/1488408087" target="_blank">
                            <img src="https://res.cloudinary.com/dasokqhnv/image/upload/v1588442101/streaming-platforms/small/apple-music_klh2ue.png"
                                alt="apple music" height="32" width="32" />
                        </a>
                    </div>
                    <div class="platform-button">
                        <a href="https://www.deezer.com/artist/79338092?utm_source=deezer&utm_content=artist-79338092&utm_term=3486418944_1588442193&utm_medium=web"
                            target="_blank">
                            <img src="https://res.cloudinary.com/dasokqhnv/image/upload/v1588443162/streaming-platforms/small/deezer_o9cayg.png"
                                alt="deezer" height="32" width="32" />
                        </a>
                    </div>
                    <div class="platform-button">
                        <a href="https://www.youtube.com/user/yambakshi?sub_confirmation=1" target="_blank">
                            <img src="https://res.cloudinary.com/dasokqhnv/image/upload/v1588180498/streaming-platforms/small/youtube_l3tpk7.svg"
                                alt="youtube" height="32" width="32" />
                        </a>
                    </div>
                    <div class="platform-button">
                        <a href="https://yambakshi.bandcamp.com/" target="_blank">
                            <img src="https://res.cloudinary.com/dasokqhnv/image/upload/v1588444379/streaming-platforms/small/bandcamp_thcf1t.png"
                                alt="bandcamp" height="32" width="32" />
                        </a>
                    </div>
                    <div class="platform-button">
                        <a href="https://soundcloud.com/yambakshi" target="_blank">
                            <img src="https://res.cloudinary.com/dasokqhnv/image/upload/v1588180497/streaming-platforms/small/soundcloud_i4kych.png"
                                alt="soundcloud" height="26.68" width="46.8" />
                        </a>
                    </div>
                </div>
                <div class="divider"></div>
                <div class="platforms-title">SOCIALS</div>
                <div class="platforms socials">
                    <div class="platform-button">
                        <a href="https://www.facebook.com/yambakshimusic" target="_blank">
                            <img src="https://res.cloudinary.com/dasokqhnv/image/upload/v1588180496/socials/facebook_trxpoj.svg"
                                alt="facebook" height="32" width="32" />
                        </a>
                    </div>
                    <div class="platform-button">
                        <a href="https://www.instagram.com/yam_bakshi" target="_blank">
                            <img src="https://res.cloudinary.com/dasokqhnv/image/upload/v1588180496/socials/instagram_agdiii.svg"
                                alt="instagram" height="32" width="32" />
                        </a>
                    </div>
                    <div class="platform-button">
                        <a href="https://twitter.com/yambakshi" target="_blank">
                            <img src="https://res.cloudinary.com/dasokqhnv/image/upload/v1588180496/socials/twitter_hdbalh.svg"
                                alt="twitter" height="32" width="32" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="follow-buttons">
                <div class="spotify-follow">
                    <iframe id="spotify-iframe"
                        src="https://open.spotify.com/follow/1/?uri=spotify:artist:6oz7LyT8COPHziKlASn0HP?si=uA6NEXQlQN2bPKRShHJGoQ&size=basic&theme=dark&show-count=0"
                        width="100" height="25" scrolling="no" frameborder="0" style="border:none; overflow:hidden;"
                        allowtransparency="true"></iframe>
                </div>
                <div class="youtube-subscribe">
                    <div class="g-ytsubscribe" data-channelid="UCKSj4o9QxRUbtBsb1IsIqCQ" data-layout="default"
                        data-theme="dark" data-count="default"></div>
                </div>
            </div>
            <div class="copyright">&copy; Yam Bakshi 2020</div>
        </div>
    </div>
</div>