<div class="smartlink-container" [ngStyle]="{'background-image': 'url(' + releaseData.graphics.backgroundImg + ')'}">
    <div class="smartlink">
        <div *ngIf="releaseData.meta.released; else preRelease" class="smartlink-main-section">
            <div class="artwork" (click)="toggleShowLyrics()"
                [ngStyle]="{'background-image': 'url(' + releaseData.graphics.artwork + ')'}">
                <div class="artwork-lyrics-container" [ngClass]="showLyrics ? 'fade-in' : ''">
                    <div class="lyrics-fade top" [ngStyle]="{'background-image': 'url(' + releaseData.graphics.artwork + ')'}">
                        <div class="text-fade-overlay"></div>
                    </div>
                    <div class="artwork-inner-lyrics-container">
                        <div class="artwork-lyrics">
                            <h3><strong>{{releaseData.meta.name}}</strong></h3>
                            {{releaseData.lyrics}}
                        </div>
                    </div>
                    <div class="lyrics-fade bottom" [ngStyle]="{'background-image': 'url(' + releaseData.graphics.artwork + ')'}">
                        <div class="text-fade-overlay"></div>
                    </div>
                </div>
            </div>
            <div class="description">
                <div class="description-primary">
                    <div class="release-title">
                        <div class="release-name">{{releaseData.meta.name}}</div>
                        <div *ngIf="releaseData.lyrics" class="lyrics-arrow" (click)="toggleLyricsExpand()"
                            [ngClass]="lyricsExpanded ? 'expand' : ''">&#9660;</div>
                    </div>
                </div>
                <div class="lyrics-container" [ngClass]="lyricsExpanded ? 'expand' : ''">
                    <div class="lyrics">{{releaseData.lyrics}}</div>
                </div>
                <div class="description-secondary">Choose your preferred music service</div>
            </div>
            <ul class="streaming-platforms-container">
                <li *ngFor="let name of releasePlatforms" class="streaming-platform">
                    <img src="{{platformsService.platforms[name].icons.big}}"
                        alt="{{platformsService.platforms[name].icons.alt}}" width="120" />
                    <a id="{{name}} ({{platformsService.platforms[name].cta}})" href="{{releaseData.links[name]}}"
                        target="_blank">
                        <div class="cta">{{platformsService.platforms[name].cta}}</div>
                    </a>
                </li>
            </ul>
        </div>
        <ng-template #preRelease>
            <div class="iframe-container">
                <iframe frameborder="0" width="320px" height="610px"
                    style="overflow:hidden; border-radius: 8px; box-shadow: 0 0 28px 0 rgba(0,0,0,.8);" scrolling="no"
                    allowtransparency="true" src="https://snd.click/nq9qQT0?embed=1"></iframe>
            </div>
        </ng-template>
        <smartlink-footer></smartlink-footer>
    </div>
</div>