/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    background: black url("https://res.cloudinary.com/dasokqhnv/image/upload/v1588185008/bg4_guwcd0.png") no-repeat fixed center;
    background-size: cover;
    position: absolute;
    min-height: 100%;
    height: auto;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
}