<div class="linktone-side-panel">
    <div class="side-menu-actions">
        <div class="linktone-share"><i class="icon-share2"></i></div>
    </div>
    <div class="side-menu-release-type-container">
        <div class="release-type">{{releaseData.meta.type}}</div>
    </div>
    <div class="side-menu-avatar-container">
        <div class="linktone-avatar" [ngStyle]="{'background-image': 'url(' + releaseData.graphics.avatar + ')'}">
        </div>
    </div>
    <div class="side-menu-release-titles">
        <h2 class="artist-name-title">Yam Bakshi | ים בקשי</h2>
        <h1 class="release-name-title">{{releaseData.meta.name}}</h1>
    </div>
    <div class="side-menu-player-container">
        <div class="side-menu-player">
            <div class="play-pause-buttons">
                <i class="icon-play3"></i>
                <i class="icon-pause2"></i>
            </div>

            <div class="player-timeline-slider-container">
                <input class="player-timeline-slider" type="range" min="1" max="100" value="50">
            </div>

            <div class="player-timestamp-container">
                <div class="player-timestamp">00:00</div>
            </div>

            <div class="volume-controller-container">
                <div class="mute-unmute-buttons">
                    <i class="icon-volume-medium"></i>
                    <i class="icon-volume-mute2"></i>
                </div>
            </div>

        </div>
    </div>
    <div class="side-menu-songs-list-container">
        <div class="songs-list">
            <div *ngFor="let song of releaseData.lyrics; let i = index" id="{{song.name}}" class="songs-list-item"
                [ngClass]="selectedSong === i ? 'selected' : ''" (click)="selectSong(i)">
                <div class="song-item-index">{{i+1}}.</div>
                <div class="song-item-name">{{song.name}}</div>
                <div class="song-item-download" (click)="downloadSong(i)"><i class="icon-download3"></i></div>
            </div>
        </div>
    </div>
    <div class="side-menu-lyrics-container">
        <div class="song-lyrics-container">
            <div class="song-lyrics">
                {{releaseData.lyrics[selectedSong].lyrics}}
            </div>
        </div>
        <div class="song-lyrics-fades">
            <div class="lyrics-top-fade"></div>
            <div class="lyrics-bottom-fade"></div>
        </div>
    </div>
</div>